{% extends "base.html" %}
{% block content %} 
<section id="memes">

    <div id="uploadmeme" class="container">
        <div class="row">
            <br><br>
            <div class="col-lg-8 col-lg-offset-2 panel panel-default" style="padding-bottom: 5px;">
                <h3>Upload Meme</h3>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="image">
                    <br>
                    <input type="submit" value="Upload your image" class="btn btn-primary">
                </form>
            </div>
            <div class="col-4 text-center">
                <button onclick="location.href='/';" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Refresh Memes</button>
            </div>
        </div>
    </div>

    <div id="timeline" class="container">
        {% for meme in timeline %}
        <div class="row row__next" style="padding: 5px">
            <div class="col-lg-8 col-lg-offset-2 panel panel-default">
                <h2>Meme #{{meme.meme_height}}</h2>
                <img class="img-responsive" style="align:center; width:90%;" src="https://ipfs.io/ipfs/{{meme.ipfs_id}}">
                <p>Meme IPFS ID: {{meme.ipfs_id}}</p>
                <p>Meme TX ID: <a href="http://explorer.kekcoin.co/tx/{{meme.txid}}" target="_blank">{{meme.txid}}</a></p>
                <p>Meme Author: <a href="http://explorer.kekcoin.co/address/{{meme.author}}" target="_blank">{{meme.author}}</a></p>
                <p>Meme Hashlink: {{meme.hashlink}}</p>
                <p>Meme Kekcoin block: {{meme.block}}</p>
            </div>
        </div>
        {% endfor %}

        <a class="pagination__next" {% if pagination.next_page %}href="{{ url_for('index', page=pagination.next_page) }}"{% endif %}></a>
    </div>
</section>
{% endblock %}