{% extends "base.html" %}
{% block content %} 
<section id="memes">

    <div id="meme" class="container">
        <br><br>
        <div class="col-lg-8 col-lg-offset-2 panel panel-default text-center">
            <h2>Meme {{meme.meme_identifier}}</h2>
            <img class="img-responsive" style="align:center; width:80%; display: block; margin-left: auto; margin-right: auto;" src="https://ipfs.io/ipfs/{{meme.ipfs_id}}">
            <p>Meme IPFS ID: {{meme.ipfs_id}}</a></p>
            <p>Meme TX ID: {{meme.txid}}</p>
            <p>Meme Author: {{meme.author}}</p>
            <p>Meme Hashlink: {{meme.hashlink}}</p>
            <p>Meme Kekcoin block: {{meme.block}}</p>
        </div>
        
    </div>
</section>
{% endblock %}