{% extends "base.html" %}
{% block content %} 
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <h2>Upload Success!</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>You have successfully uploaded your Meme onto the Memechain. It may take a couple of minutes before confirming on the blockchain.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}